<form [formGroup]="form" (ngSubmit)="cardSave()">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" [class.green-icon]="this.form.get('cardHolder').valid"
                        [class.red-icon]="this.form.get('cardHolder').invalid && this.form.get('cardHolder').touched"></i>
                </div>
            </div>
            <input type="text" class="form-control" formControlName="cardHolder" placeholder="Titular">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-credit-card" [class.green-icon]="this.form.get('cardNumber').valid"
                        [class.red-icon]="this.form.get('cardNumber').invalid && this.form.get('cardNumber').touched"></i>
                </div>
            </div>
            <input type="text" class="form-control" formControlName="cardNumber" placeholder="Número de Tarjeta" maxlength="16">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-7">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-calendar-alt" [class.green-icon]="this.form.get('expiryDate').valid"
                                [class.red-icon]="this.form.get('expiryDate').invalid && this.form.get('expiryDate').touched"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" formControlName="expiryDate" placeholder="MM/AA" maxlength="5">
                </div>
            </div>
        </div>
        <div class="form-group col-md-5">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-key" [class.green-icon]="this.form.get('cvc').valid"
                                [class.red-icon]="this.form.get('cvc').invalid && this.form.get('cvc').touched"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" formControlName="cvc" placeholder="CVV" maxlength="3">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-database"></i> Aceptar</button>
    </div>
</form>